/******************
GENERAL
*******************/

body {
	font-family: 'Open Sans', sans-serif;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}

h3 {
	margin: 0 0 1em 0;
}

/******************
HEADER
*******************/

header {
	margin: 0 0 30px 0;
	padding: 5px 0 0 0;
	width: 100%;
}

#logo {
	text-align: center;
	margin: 0;
}

h1 {
	font-family: 'Changa One', sans-serif;
	margin: 15px 0;
	font-size: 1.75em;
	font-weight: normal;
	line-height: 0.8em;
	text-stroke: 1px;﻿
}

h2 {
	font-size: 0.75em;
	margin: -5px 0 0;
	font-weight: normal;
}

/******************
NAVIGATION
*******************/

nav {
	text-align: center;
	padding: 10px 0;
	margin: 20px 0 0;
}

nav ul {
	list-style: none;
	padding: 0;
	margin: 0 10px;
}

nav li {
	display: inline-block;
}

nav a {
	font-size: 5vw;
	font-weight: 800;
	padding: 1vw 2vw;
	transition-duration: 0.2s;
	transition-property: color;
}

/******************
CONTENT
*******************/

#wrapper {
	margin: 0 auto;
	max-width: 940px;
	padding: 0 5%;
}

/* Projects */
#gallery {
	margin: 0;
	padding: 0;
	list-style: none;
}

#gallery li {
	float: left;
	width: 90%;
	margin: 5%;
	border-radius: 0 0 10px 10px;
	box-shadow: 0 4px 8px;
	transition-duration: 0.2s;
	transition-property: box-shadow, transform;
}

#gallery li:hover {
	box-shadow: 0 9px 20px;
	transform: scale(1.025);
}

#gallery li img {
	width: 95%;
	margin: 2.5%;
}

#gallery li a p {
	margin: 0;
	padding: 5%;
	font-size: 0.75em;
}

/* About */
.profile-photo {
	display: block;
	max-width: 150px;
	margin: 0 auto 30px;
	border-radius: 50%;
}

/* Contact */
#contact-info {
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 0.9em;
}

#contact-info a {
	display: block;
	min-height: 20px;
	background-repeat: no-repeat;
	background-size: 20px 20px;
	padding: 0 0 0 30px;
	margin: 0 0 10px;
}

#contact-info li a[href^="mailto:"] {
	background-image: url('../img/contact/mail.png');
}

#contact-info li a[href^="http://twitter"] {
	background-image: url('../img/contact/twitter.png');
}

/******************
FOOTER
*******************/

footer {
	font-size: 0.75em;
	text-align: center;
	padding-top: 50px;
	clear: both;
}

footer a img {
	width: 20px;
	height: 20px;
	margin: 0 5px;
	transition-duration: 0.2s;
	opacity: 0.6;
}

footer a img:hover {
	opacity: 1;
}


/******************
COLORS
*******************/

body {
	background: #fff;
	color: #999;
}

a {
	color: #0793c1;
}

header {
	background: #0793c1;
	border-color: #067AA0;
}

h1, h2 {
	color: #fff;
}

nav {
	background: #067AA0;
}

nav a, nav a:visited {
	color: #fff;
}

nav a.selected, nav a:hover {
	color: #033c4e;
}

#gallery li {
	background-color: #ededed;
	color: #7f8284;
}

#gallery li a p {
	color: #7f8284;
}

footer {
	color: #bbb;
}


/******************
MEDIA QUERIES
*******************/

@media screen and (min-width: 400px) {

	/* Header */
	nav a {
		font-size: 1.125em;
		padding: 15px 10px;
	}
}

@media screen and (min-width: 600px) {

	header {
		float: left;
	}
	
	/* Projects */
	#gallery li {
		width: 45%;
		margin: 2.5%;
	}

	#gallery li:nth-child(3) {
		clear: left;
	}

	/* About */
	.profile-photo {
		float: left;
		margin: 0 5% 80px 0;
	}

	/* Contact */
	#general-info {
		float: left;
		width: 50%;
	}

	#contact-details {
		float: right;
		width: 40%;
	}
}

@media screen and (min-width: 950px) {

	/* Header */
	nav {
		background: none;
		float: right;
		font-size: 1.125em;
		margin-right: 5%;
		text-align: right;
		width: 45%;
	}

	#logo {
		float: left;
		margin-left: 5%;
		text-align: left;
		width: 45%;
	}

	h1 {
		font-size: 2.5em;
	}

	h2 {
		font-size: 0.825em;
		margin-bottom: 20px;
	}

	header {
		border-bottom: 5px solid #067AA0;
		margin-bottom: 60px;
	}
	
	/* Projects */
	#gallery li {
		width: 30.3333%;
		margin: 1.5%;
	}

	#gallery li:nth-child(3) {
		clear: none;
	}

	#gallery li:nth-child(4) {
		clear: left;
	}
}